<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper/mysql/ruoyi/OaPurchaseOrderMapper.xml">

    <!-- 通用查询结果列 -->
    <sql id="selectOaPurchaseOrderVo">
        select order_id, order_code, purchase_id, supplier_id, order_date, delivery_date, total_amount, payment_method, payment_terms, delivery_address, status, remark, create_by, create_time, update_by, update_time from oa_purchase_order
    </sql>

    <!-- 查询采购订单列表 -->
    <select id="selectOaPurchaseOrderList" parameterType="OaPurchaseOrder" resultType="OaPurchaseOrder">
        <include refid="selectOaPurchaseOrderVo"/>
        <where>
            <if test="orderCode != null  and orderCode != ''"> and order_code = #{orderCode}</if>
            <if test="purchaseId != null "> and purchase_id = #{purchaseId}</if>
            <if test="supplierId != null "> and supplier_id = #{supplierId}</if>
            <if test="orderDate != null "> and order_date = #{orderDate}</if>
            <if test="deliveryDate != null "> and delivery_date = #{deliveryDate}</if>
            <if test="totalAmount != null "> and total_amount = #{totalAmount}</if>
            <if test="paymentMethod != null  and paymentMethod != ''"> and payment_method = #{paymentMethod}</if>
            <if test="paymentTerms != null  and paymentTerms != ''"> and payment_terms = #{paymentTerms}</if>
            <if test="deliveryAddress != null  and deliveryAddress != ''"> and delivery_address = #{deliveryAddress}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
        order by create_time desc
    </select>

    <!-- 查询采购订单详细 -->
    <select id="selectOaPurchaseOrderByOrderId" parameterType="Number" resultType="OaPurchaseOrder">
        <include refid="selectOaPurchaseOrderVo"/>
        where order_id = #{orderId}
    </select>

    <!-- 新增采购订单 -->
    <insert id="insertOaPurchaseOrder" parameterType="OaPurchaseOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into oa_purchase_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderCode != null and orderCode != ''">order_code,</if>
            <if test="purchaseId != null">purchase_id,</if>
            <if test="supplierId != null">supplier_id,</if>
            <if test="orderDate != null">order_date,</if>
            <if test="deliveryDate != null">delivery_date,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="paymentMethod != null">payment_method,</if>
            <if test="paymentTerms != null">payment_terms,</if>
            <if test="deliveryAddress != null">delivery_address,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderCode != null and orderCode != ''">#{orderCode},</if>
            <if test="purchaseId != null">#{purchaseId},</if>
            <if test="supplierId != null">#{supplierId},</if>
            <if test="orderDate != null">#{orderDate},</if>
            <if test="deliveryDate != null">#{deliveryDate},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="paymentMethod != null">#{paymentMethod},</if>
            <if test="paymentTerms != null">#{paymentTerms},</if>
            <if test="deliveryAddress != null">#{deliveryAddress},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <!-- 修改采购订单 -->
    <update id="updateOaPurchaseOrder" parameterType="OaPurchaseOrder">
        update oa_purchase_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderCode != null and orderCode != ''">order_code = #{orderCode},</if>
            <if test="purchaseId != null">purchase_id = #{purchaseId},</if>
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="orderDate != null">order_date = #{orderDate},</if>
            <if test="deliveryDate != null">delivery_date = #{deliveryDate},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="paymentMethod != null">payment_method = #{paymentMethod},</if>
            <if test="paymentTerms != null">payment_terms = #{paymentTerms},</if>
            <if test="deliveryAddress != null">delivery_address = #{deliveryAddress},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <!-- 删除采购订单 -->
    <delete id="deleteOaPurchaseOrderByOrderId" parameterType="Number">
        delete from oa_purchase_order where order_id = #{orderId}
    </delete>

    <!-- 批量删除采购订单 -->
    <delete id="deleteOaPurchaseOrderByOrderIds" parameterType="String">
        delete from oa_purchase_order where order_id in
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
</mapper>
