<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper/mysql/ruoyi/OaPurchaseMapper.xml">

    <!-- 通用查询结果列 -->
    <sql id="selectOaPurchaseVo">
        select purchase_id, purchase_code, title, purchase_type, apply_dept_id, apply_user_id, apply_time, urgency, required_date, estimated_amount, reason, attachment_url, status, current_node_id, current_approver_id, process_instance_id, remark, create_by, create_time, update_by, update_time from oa_purchase
    </sql>

    <!-- 查询采购申请单列表 -->
    <select id="selectOaPurchaseList" parameterType="OaPurchase" resultType="OaPurchase">
        <include refid="selectOaPurchaseVo"/>
        <where>
            <if test="purchaseCode != null  and purchaseCode != ''"> and purchase_code = #{purchaseCode}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="purchaseType != null  and purchaseType != ''"> and purchase_type = #{purchaseType}</if>
            <if test="applyDeptId != null "> and apply_dept_id = #{applyDeptId}</if>
            <if test="applyUserId != null "> and apply_user_id = #{applyUserId}</if>
            <if test="applyTime != null "> and apply_time = #{applyTime}</if>
            <if test="urgency != null  and urgency != ''"> and urgency = #{urgency}</if>
            <if test="requiredDate != null "> and required_date = #{requiredDate}</if>
            <if test="estimatedAmount != null "> and estimated_amount = #{estimatedAmount}</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
            <if test="attachmentUrl != null  and attachmentUrl != ''"> and attachment_url = #{attachmentUrl}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="currentNodeId != null "> and current_node_id = #{currentNodeId}</if>
            <if test="currentApproverId != null "> and current_approver_id = #{currentApproverId}</if>
            <if test="processInstanceId != null  and processInstanceId != ''"> and process_instance_id = #{processInstanceId}</if>
        </where>
        order by create_time desc
    </select>

    <!-- 查询采购申请单详细 -->
    <select id="selectOaPurchaseByPurchaseId" parameterType="Number" resultType="OaPurchase">
        <include refid="selectOaPurchaseVo"/>
        where purchase_id = #{purchaseId}
    </select>

    <!-- 新增采购申请单 -->
    <insert id="insertOaPurchase" parameterType="OaPurchase" useGeneratedKeys="true" keyProperty="purchaseId">
        insert into oa_purchase
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="purchaseCode != null and purchaseCode != ''">purchase_code,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="purchaseType != null and purchaseType != ''">purchase_type,</if>
            <if test="applyDeptId != null">apply_dept_id,</if>
            <if test="applyUserId != null">apply_user_id,</if>
            <if test="applyTime != null">apply_time,</if>
            <if test="urgency != null and urgency != ''">urgency,</if>
            <if test="requiredDate != null">required_date,</if>
            <if test="estimatedAmount != null">estimated_amount,</if>
            <if test="reason != null">reason,</if>
            <if test="attachmentUrl != null">attachment_url,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="currentNodeId != null">current_node_id,</if>
            <if test="currentApproverId != null">current_approver_id,</if>
            <if test="processInstanceId != null">process_instance_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="purchaseCode != null and purchaseCode != ''">#{purchaseCode},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="purchaseType != null and purchaseType != ''">#{purchaseType},</if>
            <if test="applyDeptId != null">#{applyDeptId},</if>
            <if test="applyUserId != null">#{applyUserId},</if>
            <if test="applyTime != null">#{applyTime},</if>
            <if test="urgency != null and urgency != ''">#{urgency},</if>
            <if test="requiredDate != null">#{requiredDate},</if>
            <if test="estimatedAmount != null">#{estimatedAmount},</if>
            <if test="reason != null">#{reason},</if>
            <if test="attachmentUrl != null">#{attachmentUrl},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="currentNodeId != null">#{currentNodeId},</if>
            <if test="currentApproverId != null">#{currentApproverId},</if>
            <if test="processInstanceId != null">#{processInstanceId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <!-- 修改采购申请单 -->
    <update id="updateOaPurchase" parameterType="OaPurchase">
        update oa_purchase
        <trim prefix="SET" suffixOverrides=",">
            <if test="purchaseCode != null and purchaseCode != ''">purchase_code = #{purchaseCode},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="purchaseType != null and purchaseType != ''">purchase_type = #{purchaseType},</if>
            <if test="applyDeptId != null">apply_dept_id = #{applyDeptId},</if>
            <if test="applyUserId != null">apply_user_id = #{applyUserId},</if>
            <if test="applyTime != null">apply_time = #{applyTime},</if>
            <if test="urgency != null and urgency != ''">urgency = #{urgency},</if>
            <if test="requiredDate != null">required_date = #{requiredDate},</if>
            <if test="estimatedAmount != null">estimated_amount = #{estimatedAmount},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="attachmentUrl != null">attachment_url = #{attachmentUrl},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="currentNodeId != null">current_node_id = #{currentNodeId},</if>
            <if test="currentApproverId != null">current_approver_id = #{currentApproverId},</if>
            <if test="processInstanceId != null">process_instance_id = #{processInstanceId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where purchase_id = #{purchaseId}
    </update>

    <!-- 删除采购申请单 -->
    <delete id="deleteOaPurchaseByPurchaseId" parameterType="Number">
        delete from oa_purchase where purchase_id = #{purchaseId}
    </delete>

    <!-- 批量删除采购申请单 -->
    <delete id="deleteOaPurchaseByPurchaseIds" parameterType="String">
        delete from oa_purchase where purchase_id in
        <foreach item="purchaseId" collection="array" open="(" separator="," close=")">
            #{purchaseId}
        </foreach>
    </delete>
</mapper>
